*.log
.env
.env.*


# Terraform
*.tfvars
!terraform/k8s/terraform.tfvars
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# macOS
.DS_Store

# Jenkins
.jenkins/

# Secrets
*.pem
*.key
*.tfvars

# AWS
.aws/
AWSCLIV2.pkg
