#MONGODB_URL={{ mongodb_url }}

MONGODB_URL=mongodb://{{ mongodb_host }}:27017/space2study

CLIENT_URL={{ client_url }}
SERVER_URL={{ server_url }}
SERVER_PORT=3000

JWT_ACCESS_SECRET={{ vault_jwt_access_secret }}
JWT_REFRESH_SECRET={{ vault_jwt_refresh_secret }}
JWT_RESET_SECRET={{ vault_jwt_reset_secret }}
JWT_CONFIRM_SECRET={{ vault_jwt_confirm_secret }}

MAIL_USER={{ vault_mail_user }}

GMAIL_CLIENT_ID={{ vault_gmail_client_id }}
GMAIL_CLIENT_SECRET={{ vault_gmail_client_secret }}
GMAIL_REFRESH_TOKEN={{ vault_gmail_refresh_token }}

GMAIL_REDIRECT_URI=https://developers.google.com/oauthplayground

MAIL_FIRSTNAME=Lidiya
MAIL_LASTNAME=Reshnivetska

MAIL_PASS={{ vault_mail_pass }}
