apiVersion: v1
kind: ConfigMap

metadata:
  name: backend-config
  namespace: space2study

data:

  SERVER_PORT: "3000"

  CLIENT_URL: "http://{{ node_public_ip }}:{{ frontend_nodeport }}"

  SERVER_URL: "http://backend:3000"

  MONGODB_URL: "mongodb://{{ mongodb_host }}:27017/space2study"

  JWT_ACCESS_EXPIRES_IN: "15m"
  JWT_REFRESH_EXPIRES_IN: "7d"
  JWT_RESET_EXPIRES_IN: "1h"
  JWT_CONFIRM_EXPIRES_IN: "1d"
