apiVersion: v1
kind: ConfigMap

metadata:
  name: backend-config
  namespace: space2study

data:

  SERVER_PORT: "3000"

  CLIENT_URL: "http://frontend:3001"

  SERVER_URL: "http://backend:3000"

  MONGODB_URL: "mongodb://{{ mongodb_host }}:27017/space2study"
