apiVersion: v1
kind: Secret

metadata:
  name: backend-secret
  namespace: space2study

type: Opaque

stringData:

  JWT_ACCESS_SECRET: "{{ vault_jwt_access_secret }}"
  JWT_REFRESH_SECRET: "{{ vault_jwt_refresh_secret }}"


  GOOGLE_CLIENT_ID: "{{ google_client_id }}"
  GOOGLE_CLIENT_SECRET: "{{ google_client_secret }}"
