apiVersion: v1
kind: Secret

metadata:
  name: backend-secret
  namespace: space2study

type: Opaque

stringData:

  
  JWT_ACCESS_SECRET: "{{ vault_jwt_access_secret }}"
  JWT_REFRESH_SECRET: "{{ vault_jwt_refresh_secret }}"
  JWT_RESET_SECRET: "{{ vault_jwt_reset_secret }}"
  JWT_CONFIRM_SECRET: "{{ vault_jwt_confirm_secret }}"

  MAIL_USER: "{{ vault_mail_user }}"
  GOOGLE_CLIENT_ID: "{{ vault_gmail_client_id }}"
  GMAIL_REFRESH_TOKEN: "{{ vault_gmail_refresh_token }}"
  GOOGLE_CLIENT_SECRET: "{{ vault_gmail_client_secret }}"
